.c-item{
    height:480px;
}
.c-img{
    height:100%;
    object-fit:cover;
    filter:brightness(0.6);
}
.overview{
    height:180px;
    background-color:black;
    color:white;
}

.placesca{
    height:500px;
    width:100%;
    
}
.footer{
    background-color: black;
    color:white;
    height:200px;
}